#!/bin/bash

# Azure DevOps Configuration
export AZURE_DEVOPS_ORG="<YOUR AZURE DEVOPS ORG>"
export AZDO_PAT="<YOUR AZURE DEVOPS PAT>"
export AZURE_DEVOPS_PROJECT="<YOUR AZURE DEVOPS PROJECT>"
export AZURE_DEVOPS_TEAM="<YOUR AZURE DEVOPS TEAM>"

# GitHub Configuration
export GITHUB_PAT="<YOUR GITHUB PAT>"
export GITHUB_ORG="<YOUR GITHUB ORG>"

# Slack Configuration
export SLACK_BOT_TOKEN="<YOUR SLACK BOT TOKEN>"
export SLACK_USER_TOKEN="<YOUR SLACK USER TOKEN>"
export DEFAULT_SLACK_CHANNEL="<YOUR DEFAULT SLACK CHANNEL>"

# OpenAI Configuration
export OPENAI_API_KEY="<YOUR OPENAI API KEY>"

export SENTRY_AUTH_TOKEN="<YOUR SENTRY AUTH TOKEN>"
export SENTRY_ORG="<YOUR SENTRY ORG>"
export SENTRY_PROJECT_IDS="<YOUR SENTRY PROJECT IDS COMMA SEPARATED>"
export SENTRY_PROJECT_NAMES="<YOUR SENTRY PROJECT NAMES COMMA SEPARATED>"

# Path to the MCP Server executable
export MCP_SERVER_PATH="<path-to-mcp-server-multi-tools>"

# Run the MCP Server
$MCP_SERVER_PATH
